.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: left; */
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

h1 {
  text-align: center;
}

.App input {
  font-size: 20px;
}

.App button {
  font-size: 20px;
}